<IfModule mod_rewrite.c>
	Options -MultiViews
	
	RewriteEngine On
	RewriteBase /
	
	# Stop execution if request is for an existing file or directory
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule ^ web/index.php [L]
</IfModule>