<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta charset="utf-8" />
		<title>PAL - {% block title %}PAL{% endblock %}</title>
		
		<!-- Cascading Style Sheet Head -->
		<link rel="stylesheet" type="text/css" media="all" href="{{ ASSET }}/css/pal.less" />
		
		<!-- JavaScript Head -->
		<script type="text/javascript" src="{{ ASSET }}/js/less-1.5.0.min.js"></script>
		
	</head>
	
	<body>
	
	</body>

</html>