{% extends 'base.html.twig' %}

{#########
 # Title #
 #########}
{% block title %}Main{% endblock %}

{##############################
 # Cascading Style Sheet Head #
 ##############################}
{% block csshead %}{% endblock %}

{###################
 # JavaScript Head #
 ###################}
{% block jshead %}{% endblock %}

{########
 # Body #
 ########}
{% block body %}

<header class="page-header container">
	<h2>Event</h2>
</header>

<aside>
</aside>
		
{% endblock %}

{###################
 # JavaScript Tail #
 ###################}
{% block jstail %}{% endblock %}