{% extends 'base.html.twig' %}

{#########
 # Title #
 #########}
{% block title %}Game{% endblock %}

{##############################
 # Cascading Style Sheet Head #
 ##############################}
{% block csshead %}{% endblock %}

{###################
 # JavaScript Head #
 ###################}
{% block jshead %}{% endblock %}

{######################
 # Miscellaneous Head #
 ######################}
{% block mischead %}
{% include 'inc/datatables.html.twig' %}

<!-- Miscellaneous -->
<script type="text/javascript" src="{{ RESOURCE }}/js/main.js"></script>
<script type="text/javascript" src="{{ RESOURCE }}/js/game.js"></script>
{% endblock %}

{########
 # Body #
 ########}
{% block body %}

<header class="page-header container">
	<h2>Game</h2>
</header>

<div id="msgAlert"></div>

<aside>
	<p><button id="btnAddGame" class="btn btn-success" type="button">Add</button></p>
	<table id="dTable" class="table tblGame">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Location</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</aside>

<div id="dlgGameInformation" class="hide">
	<form id="frmGameInformation" role="form">
		<div id="msgState"></div>
		<div class="form-group">
			<label for="txtName">Name</label>
			<input id="txtName" class="form-control" name="txtName" type="text" placeholder="Name" />
		</div>
		<div class="form-group">
			<label for="txtDescription">Description</label>
			<textarea id="txtDescription" class="form-control" name="txtDescription" rows="3" placeholder="Description"></textarea>
		</div>
		<div class="form-group">
			<label for="ddLocation">Location</label>
			<select id="ddLocation" class="form-control" name="ddLocation">
				<option value="">Select Location</option>
				<optgroup label="AMER">
					<option value="SJC">SJC</option>
					<option value="RTP">RTP</option>
				</optgroup>
			</select>
		</div>
	</form>
</div>

<div id="dlgRemoveGame" class="hide">
</div>

{% endblock %}

{###################
 # JavaScript Tail #
 ###################}
{% block jstail %}{% endblock %}