{% extends 'base.html.twig' %}

{#########
 # Title #
 #########}
{% block title %}Main{% endblock %}

{##############################
 # Cascading Style Sheet Head #
 ##############################}
{% block csshead %}{% endblock %}

{###################
 # JavaScript Head #
 ###################}
{% block jshead %}{% endblock %}

{######################
 # Miscellaneous Head #
 ######################}
{% block mischead %}
{% include 'inc/datatables.html.twig' %}

<!-- Miscellaneous -->
<script type="text/javascript" src="{{ RESOURCE }}/js/main.js"></script>
<script type="text/javascript" src="{{ RESOURCE }}/js/team.js"></script>
{% endblock %}

{########
 # Body #
 ########}
{% block body %}

<header class="page-header container">
	<h2>Team</h2>
</header>

<div id="msgAlert"></div>

<aside>
	<p><button id="btnAddTeam" class="btn btn-success" type="button">Add</button></p>
	<table id="dTable" class="table tblTeam">
		<thead>
			<tr>
				<th>Name</th>
				<th>Point</th>
				<th>Rank</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</aside>

<div id="dlgTeamInformation" class="hide">
	<form id="frmTeamInformation" role="form">
		<div id="msgState"></div>
		<div class="form-group">
			<label for="txtName">Name</label>
			<input id="txtName" class="form-control" name="txtName" type="text" placeholder="Name" />
		</div>
		<div class="form-group">
			<label for="txtPoint">Point</label>
			<input id="txtPoint" class="form-control" name="txtPoint" type="number" placeholder="0" />
		</div>
		<div class="form-group">
			<label for="ddEvent">Event</label>
			<select id="ddEvent" class="form-control" name="ddEvent">
				<option value="">Select Event</option>
			</select>
		</div>
	</form>
</div>

<div id="dlgRemoveTeam" class="hide">
</div>
		
{% endblock %}

{###################
 # JavaScript Tail #
 ###################}
{% block jstail %}{% endblock %}